<style>
  td {
    padding: 10px;
  }

  table {
    border-spacing: 10px;
    border-collapse: separate;
  }
  .tt{
   margin: 5%; 
  }

</style>
<div class="title-group">
  <h1 class="mat-h1">Mark Quiz Here! [Teachers]</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>
<div class="container" *ngIf="assignments.length > 0">
 
  <div class="mat-elevation-z8">
<table>
  <tr>
    <td>No.</td>
    <td>Name</td>
  </tr>
  <tr *ngFor="let assignment of assignments; let i=index ">
    <td>{{i+1}}</td>
    <td (click)="onClick(assignment._id)">{{assignment.name}}</td>
    <td>  <input type="submit" value="Mark This Assignment" (click)="onClick(assignment._id)"> </td>
  </tr>

</table>
</div>
</div>
<div class="tt"></div>
<div class="title-group">
  <h1 class="mat-h1" >Mark Submitted Quiz</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>
<!-- *ngIf="submissions[0].studentname" -->
<div class="container" *ngIf="assignments.length > 0">
 
  <div class="mat-elevation-z8">
<table *ngIf="submission[0].studentname">
  <tr>
    <td>No.</td>
    <td>Student Name</td>
    <td>File Name</td>
    <td>Submitted At</td>
    <td>Add Marks</td>
  </tr>
  <tr *ngFor="let submit of submission; let i=index">
    <td>{{i+1}}</td>
    <td>{{submit.studentname}}</td>
    <td>{{submit.filename}}</td>
    <td>{{submit.submitted_at}}</td>
    <td>
      <input type="text" [(ngModel)]="submit.marks">
      <br>
      <input type="submit" (click)="updateMarks($event, submit.marks, submit._id)">
    </td>
  </tr>
</table>
</div>
</div>
